<section>
  <header>
    Органайзер <strong>{{dateService.date|async | moment:"DD.MM.YY"}}</strong>
    <hr>
  </header>

  <main>
    <ul *ngIf="tasks.length;let loading">
      <li class="task" *ngFor="let task of tasks;let indx = index">
        <span>
          <strong>{{indx+1}}</strong>
          {{task.title}}
        </span>
        <button class="btn btn-primary " (click)="remove(task)"> Remove</button>
      </li>
    </ul>
    <ng-template #loading>
      <p class="text-center">No posts</p>
    </ng-template>
  </main>
  <footer>
    <form [formGroup]="form"  (ngSubmit)="submit()">
      <input type="text" formControlName="title">
      <button
        type="submit"
        class="btn2 btn-primary btn-block"
        [disabled]="form.invalid"
      >Add
      </button>
    </form>
  </footer>
</section>
