<table>
  <thead>
  <tr >
    <th class="heat">Sun</th>
    <th class="heat">Mon</th>
    <th class="heat">Tue</th>
    <th class="heat">Wed</th>
    <th class="heat">Thu</th>
    <th class="heat" >Fri</th>
    <th class="heat">Sat</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let week of calendar">
    <td (click)="select(day.value)"
      *ngFor="let day of week.days "
      [class.disabled]="day.disabled"
    >
      <span
        [class.selected]="day.selected"
        [class.active] = "day.active"
      >{{day.value | moment: "ddd DD"}}</span>
    </td>
  </tr>
  </tbody>
</table>
